<section id="home" class="d-flex align-items-center position-relative hero" style="background-image:url(/background.jpg);">
    <div class="container-fluid container-fluid-max">
        <div class="row">
            <div class="col-12 col-md-auto col-lg-6 col-xl-5">
                <h1 class="text-white">Everyone is welcome, everyone can contribute, everyone is unique and these are your strengths too!</h1>
            </div>
            <section id="section07" class="demo">
                <a href="#blog"><span></span><span></span><span></span></a>
              </section>
        </div>
    </div>
</section>