<nav class="navbar navbar-expand-lg navbar-light">
  <button aria-label="Navigation Button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="na
  vbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ partial "nav-menu.html" (dict "context" . "currentPage" $currentPage) }}
        {{ end }}
    </ul>
  </div>
</nav>

